# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\company\youdao\hello-world-github\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
